@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model BookModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@* <button type="button" onclick="document.getElementById('formModal').reset();" class="btn btn-success" data-toggle="modal" data-target="#exampleModalPost">
    Tạo mới
</button> *@
<style>
    .form-control {
        margin-left: 0px !important;
    }
</style>
<div class="row">
    <form method="post" asp-action="CreateBook">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Thêm mới truyện</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0 m-4 mt-0">
                        <div style="display:block" class="form-group input-group input-group-outline mt-4">
                            <label for="Name">Tên truyện</label>
                            <input style="width:100%" type="text" asp-for="Name" class="form-control" autofocus>
                        </div>
                        <div style="display:block" class="input-group input-group-outline mt-4">
                            <label for="Summary">Giới thiệu</label>
                            <textarea style="width:100%" asp-for="Summary" type="text" class="form-control" rows="8"></textarea>
                        </div>
                        <div style="display:block" class="form-group input-group input-group-outline mt-4">
                            <label>Thể loại</label>
                            <select style="width:100%" asp-for="CategoryId" class="form-control">
                                <option selected value="">Vui lòng chọn</option>
                                @foreach (Category cate in ViewBag.Categories)
                                {
                                    <option value="@cate.Id">@cate.Name</option>
                                }
                            </select>
                        </div>
                        <div style="display:block" class="input-group input-group-outline mt-4">
                            <input type="number" asp-for="Id" id="post-id" hidden />
                            <label for="Name">Cập nhật ảnh bìa</label>
                            <input type="file" style="width:100%" onchange="changeImageFile(this)" accept="image/*" class="form-control">
                            <img style="margin-top:2rem;height:16rem!important;width:16rem!important; border-radius:1rem!important" id="img-post-id" src="https://i.imgur.com/KHD58yX.png" class="avatar avatar-sm me-3 border-radius-lg">
                            <input type="text" id="image-post" asp-for="Poster" hidden />
                        </div>
                        <button type="submit" class="btn btn-success mt-4">Lưu thông tin</button>
                        @*                     <div style="display:block" class="form-group input-group input-group-outline">
                        <label for="Title">Tên</label>
                        <input style="width:100%" id="post-title" type="text" asp-for="Title" class="form-control" placeholder="Tên">
                    </div>
                    <div style="display:block" class="input-group input-group-outline">
                        <label for="Description">Bài viết</label>
                        <textarea style="width:100%" asp-for="PostDescription" type="text" class="form-control" rows="8" id="PostDescription-id" autofocus></textarea>
                    </div> *@

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    document.getElementById('CreatBookId').classList.add('active');
    function changeImageFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).next('img').removeClass('d-none');
                $(input).next('img').attr('src', e.target.result);
                $('#image-post').val(e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>